<!doctype html>
<html lang="vi">
  <head>
    <!-- preconnect -->
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300..600&display=swap"
      rel="stylesheet"
    />

    <!-- preload -->
    <link rel="preload" href="css/app.css" as="style" />
    <link rel="stylesheet" type="text/css" href="css/vendors.css" />
    <link rel="stylesheet" href="css/app.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimal-ui"
    />
    <meta name="theme-color" content="#b5b5b5" />
    <meta name="csrf-token" content="" />

    <title>
      Nghề nghiệp | MIRAI VIETNAM HR CONSULTANT Group | Cơ hội việc làm và phát
      triển năng lực bản thân
    </title>

    <link rel="canonical" href="career.html" />
    <link
      href="https://mirai-viet-nam.vercel.app/career"
      hreflang="x-default"
      rel="alternate"
    />
    <link
      href="https://mirai-viet-nam.vercel.app/career"
      hreflang="ja"
      rel="alternate"
    />
    <link
      href="https://mirai-viet-nam.vercel.app/en/career"
      hreflang="en"
      rel="alternate"
    />
    <link href="career.html" hreflang="vi" rel="alternate" />

    <meta
      name="description"
      content="Tham gia MIRAI VIETNAM HR CONSULTANT để nắm bắt cơ hội trở thành nhân sự toàn cầu trong lĩnh vực HR ASEAN. Hãy vượt qua giới hạn, phát triển sự nghiệp và hội nhập quốc tế cùng chúng tôi."
    />

    <meta
      property="og:title"
      content="Nghề nghiệp | MIRAI VIETNAM HR CONSULTANT Group | Cơ hội việc làm và phát triển năng lực bản thân"
    />
    <meta
      property="og:description"
      content="Tham gia MIRAI VIETNAM HR CONSULTANT để nắm bắt cơ hội trở thành nhân sự toàn cầu trong lĩnh vực HR ASEAN. Hãy vượt qua giới hạn, phát triển sự nghiệp và hội nhập quốc tế cùng chúng tôi."
    />
    <meta property="og:url" content="https://iconic-intl.com/vi/career" />
    <meta
      property="og:image"
      content="https://iconic-intl.com/assets/images/ogp/iconic-intl-ogp.jpg"
    />
    <meta
      property="og:site_name"
      content="MIRAI VIETNAM HR CONSULTANT Group コーポレートサイト"
    />
    <meta property="og:type" content="article" />
    <!--/facebook-->

    <!-- Twitter -->
    <meta
      name="twitter:title"
      content="Nghề nghiệp | MIRAI VIETNAM HR CONSULTANT Group | Cơ hội việc làm và phát triển năng lực bản thân"
    />
    <meta
      name="twitter:description"
      content="Tham gia MIRAI VIETNAM HR CONSULTANT để nắm bắt cơ hội trở thành nhân sự toàn cầu trong lĩnh vực HR ASEAN. Hãy vượt qua giới hạn, phát triển sự nghiệp và hội nhập quốc tế cùng chúng tôi."
    />
    <meta name="twitter:url" content="https://iconic-intl.com/vi/career" />
    <meta
      name="twitter:image"
      content="https://iconic-intl.com/assets/images/ogp/iconic-intl-ogp.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@iconic_intl" />
    <meta property="fb:app_id" content="261368531960741" />
    <!-- IE -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/common/icon/favicon-v1.ico"
    />
    <!-- other browsers -->
    <link
      rel="icon"
      type="image/x-icon"
      href="assets/images/common/icon/favicon.ico"
    />
    <link
      rel="preload"
      href="assets/images/career/bg-header-career-mobile.jpg"
      media="screen and (max-width: 991px)"
      as="image"
    />
    <link
      rel="preload"
      href="assets/images/career/bg-header-career.jpg"
      media="screen and (min-width: 992px)"
      as="image"
    />
  </head>
  <body class="page-career d-flex flex-column vh-100 font-en">
    <nav class="nav-top navbar navbar-expand-lg fixed-top" id="js-nav-top">
      <div class="container">
        <a class="nav-logo" href="index.html">
          <img
            class="w-100"
            src="assets/images/logo.png"
            alt="Mirai Viet Nam"
          />
        </a>
        <div id="js-navbar-custom-toggler" class="navbar-custom-toggler">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
        </div>
        <div
          class="offcanvas-collapse navbar-collapse ms-lg-auto vh-100 u-vh-lg-auto pt-5 mt-n5 pt-lg-0 mt-lg-0"
          id="js-offcanvas-collapse"
        >
          <ul
            class="navbar-nav d-flex align-items-center ms-lg-auto mt-5 pt-5 mt-lg-0 pt-lg-0"
          >
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html"
                >Trang chủ</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="company.html">Công ty</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="service.html">Dịch vụ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="career.html">Nghề nghiệp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news.html">Bản tin</a>
            </li>

            <li class="nav-item dropdown d-none d-lg-flex">
              <button
                class="btn nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  class="icon-white"
                  alt="icon white"
                  src="assets/images/common/navigation/language-white.png"
                />
                <img
                  class="icon-black"
                  alt="icon black"
                  src="assets/images/common/navigation/language-black.png"
                />
                <span class="d-none">JA</span>
                <span class="d-none">EN</span>
                <span class="">VI</span>
              </button>

              <ul class="dropdown-menu text-capitalize">
                <li>
                  <a class="dropdown-item" href="https://iconic-intl.com/career"
                    >日本語</a
                  >
                </li>
                <li style="display: none">
                  <a
                    class="dropdown-item"
                    href="https://iconic-intl.com/en/career"
                    >English</a
                  >
                </li>
                <li>
                  <a class="dropdown-item active" href="career.html"
                    >Tiếng Việt</a
                  >
                </li>
              </ul>
            </li>
            <li class="d-flex d-lg-none">
              <ul class="list-unstyled d-flex justify-content-center w-100">
                <li class="mx-3">
                  <a class="nav-link" href="https://iconic-intl.com/career"
                    >JA</a
                  >
                </li>
                <li class="d-flex align-items-center" style="display: none">
                  <div
                    class="bg-black opacity-100"
                    style="width: 2px; height: 17px"
                  ></div>
                </li>
                <li class="mx-3" style="display: none">
                  <a class="nav-link" href="https://iconic-intl.com/en/career"
                    >EN</a
                  >
                </li>
                <li class="d-flex align-items-center">
                  <div
                    class="bg-black opacity-100"
                    style="width: 2px; height: 17px"
                  ></div>
                </li>
                <li class="mx-3">
                  <a class="nav-link active" href="career.html">VI</a>
                </li>
              </ul>
            </li>

            <li class="nav-item nav-top-contact">
              <a class="btn-default btn-contact-nav" href="contact.html"
                >Liên hệ</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main>
      <div class="u-margin-page-2">
        <div class="header-career">
          <div
            class="scroll-career text-center"
            id="js-scroll-to-breadcrumb-career"
          >
            <div>Scroll</div>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </div>
        </div>
        <div class="container">
          <nav
            class="mb-0 u-padding-breadcrumb-2"
            id="js-breadcrumb-career"
            aria-label="breadcrumb"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="breadcrumb__link" href="index.html">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Nghề nghiệp
              </li>
            </ol>
          </nav>
        </div>
        <div class="container mb-5">
          <h1 class="d-none">Nghề nghiệp</h1>
          <h2 class="mb-4 pb-2">
            Vì sao nên tham gia cùng MIRAI VIETNAM HR CONSULTANT?
          </h2>
          <div class="ms-lg-4">
            <h3 class="fs-5 fw-semibold mb-3">
              Hãy tham gia cùng MIRAI VIETNAM HR CONSULTANT
            </h3>
            <p class="lh-lg mb-0">
              Bạn có khát vọng thách thức giới hạn bản thân, vượt qua &quot;ranh
              giới&quot; quốc gia, trở thành nguồn nhân lực toàn cầu, đặc biệt
              trong lĩnh vực “ASEAN” X “HR”.
              <br />
              Bạn muốn tìm kiếm nguồn nhân lực luôn khao khát phát triển bản
              thân và cùng bạn vươn ra quốc tế.
            </p>
          </div>
        </div>

        <div class="questions container">
          <div class="ask-questions mb-4">Câu hỏi thường gặp</div>

          <div class="accordion" id="accordionQuestion">
            <div class="accordion-item">
              <div class="accordion-header" id="question-1">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#answer-1"
                  aria-expanded="false"
                  aria-controls="answer-1"
                >
                  MIRAI VIETNAM HR CONSULTANT tiến hành phỏng vấn như thế nào?
                </button>
              </div>
              <div
                id="answer-1"
                class="accordion-collapse collapse"
                aria-labelledby="question-1"
                data-bs-parent="#accordionQuestion"
              >
                <div class="accordion-body">
                  Thông thường, chúng tôi phỏng vấn trực tuyến thông qua Google
                  Meet hoặc Zoom.
                  <br />
                  Tuỳ trường hợp, chúng tôi có thể phỏng vấn tại văn phòng MIRAI
                  VIETNAM HR CONSULTANT ở Tokyo.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header" id="question-2">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#answer-2"
                  aria-expanded="false"
                  aria-controls="answer-2"
                >
                  MIRAI VIETNAM HR CONSULTANT đánh giá cao điều gì?
                </button>
              </div>
              <div
                id="answer-2"
                class="accordion-collapse collapse"
                aria-labelledby="question-2"
                data-bs-parent="#accordionQuestion"
              >
                <div class="accordion-body">
                  Chúng tôi luôn coi trọng mong muốn của Ứng viên.
                  <br />
                  Với sứ mệnh &quot;Create Beyond&quot;, chúng tôi đánh giá cao
                  khả năng hoà nhập của bạn trong xã hội toàn cầu hoá.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header" id="question-3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#answer-3"
                  aria-expanded="false"
                  aria-controls="answer-3"
                >
                  MIRAI VIETNAM HR CONSULTANT yêu cầu trình độ Tiếng Anh như thế
                  nào?
                </button>
              </div>
              <div
                id="answer-3"
                class="accordion-collapse collapse"
                aria-labelledby="question-3"
                data-bs-parent="#accordionQuestion"
              >
                <div class="accordion-body">
                  Tiếng Anh là nguôn ngữ chính thức tại các văn phòng ở nước
                  ngoài của chúng tôi. <br />
                  + Đối với chuyên viên tư vấn tuyển dụng, cần có TOEIC 600+ trở
                  lên. <br />
                  + Đối với chuyên viên tư vấn dịch vụ nhân sự, cần có TOEIC
                  750+ trở lên.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header" id="question-5">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#answer-5"
                  aria-expanded="false"
                  aria-controls="answer-5"
                >
                  Lộ trình sự nghiệp của tôi như thế nào?
                </button>
              </div>
              <div
                id="answer-5"
                class="accordion-collapse collapse"
                aria-labelledby="question-5"
                data-bs-parent="#accordionQuestion"
              >
                <div class="accordion-body">
                  Sau khi tích luỹ kinh nghiệm ở vị trí nhân viên, chúng tôi sẽ
                  cân nhắc về lộ trình sự nghiệp phù hợp cho bạn. Bạn sẽ có cơ
                  hội chuyển sang vị trí mới hoặc chi nhánh khác hay thăng chức
                  lên quản lý bộ phận hay quản lý doanh nghiệp.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header" id="question-7">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#answer-7"
                  aria-expanded="false"
                  aria-controls="answer-7"
                >
                  MIRAI VIETNAM HR CONSULTANT có yêu cầu kinh nghiệm liên quan
                  đến HR không?
                </button>
              </div>
              <div
                id="answer-7"
                class="accordion-collapse collapse"
                aria-labelledby="question-7"
                data-bs-parent="#accordionQuestion"
              >
                <div class="accordion-body">
                  Bạn không cần có kinh nghiệm liên quan HR. Chúng tôi sẽ lựa
                  chọn dựa trên kinh nghiệm trước đó của bạn.
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="section-contact pb-0">
          <div class="container text-center">
            <h2
              class="heading-2 u-override-font-size u-override-margin u-margin-heading-2 d-inline-block mx-auto"
            >
              Liên hệ
              <span class="underline"></span>
            </h2>
            <p class="section-contact__description">
              Vui lòng để lại thông tin.
            </p>
            <div class="d-flex justify-content-center">
              <a class="btn-default btn-1" href="contact.html" target="_self">
                Liên hệ
              </a>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer class="footer mt-auto">
      <div class="container footer__container">
        <div class="row footer__navbar-nav text-white py-5">
          <div class="col-lg-2">
            <div class="footer__box">
              <img
                src=""
                class="logo-2 w-100 lazyload"
                data-src="assets/images/logo.png"
                alt="Mirai Viet Nam"
              />
            </div>
          </div>
          <div class="col-lg-2">
            <ul class="list-unstyled mb-0">
              <li><a class="text-white" href="index.html">Trang chủ</a></li>
              <li><a class="text-white" href="company.html">Công ty</a></li>
              <li><a class="text-white" href="service.html">Dịch vụ</a></li>
              <li><a class="text-white" href="news.html">Bản tin</a></li>
              <li><a class="text-white" href="career.html">Nghề nghiệp</a></li>
              <li><a class="text-white" href="contact.html">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0 footer__border">
            <div class="footer__title">Nền tảng tuyển dụng</div>

            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Dành cho ứng viên Nhật Bản「Mirai VietNam」</a
            >
            <br />
            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Dành cho ứng viên Việt Nam「Mirai VietNam」</a
            >
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0 pe-lg-0">
            <div class="footer__title">
              Trang thông tin nhân sự Việt Nam「Mirai VietNam」
            </div>
            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Mirai VietNam</a
            >
            <div class="mt-4 mt-lg-3 footer__title">
              Công cụ khảo sát nhân viên「Mirai VietNam」
            </div>
            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Mirai VietNam</a
            >
          </div>
        </div>

        <div
          class="row footer__copy-social g-0 flex-column-reverse flex-lg-row"
        >
          <p
            class="col-12 col-lg-8 footer__copy-right text-white align-self-center text-center text-lg-start mb-0"
          >
            Copyright &#169; 2026 MIRAI VIETNAM HR CONSULTANT Co., Ltd. - All
            Rights Reserved.
            <a
              class="text-white ms-5"
              href="https://iconic-intl.com/vi/privacy-policy"
              >Chính sách bảo mật</a
            >
          </p>
          <ul
            class="col-12 col-lg-4 navbar-nav flex-row justify-content-center justify-content-lg-end align-items-center ms-auto"
          >
            <li class="footer__social-item nav-item">
              <a
                class="footer__social-link"
                target="_blank"
                href="https://www.facebook.com/iconic.jp"
              >
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>

            <li class="footer__social-item nav-item mb-1">
              <a
                class="footer__social-link"
                target="_blank"
                href="https://x.com/iconicjob_jp"
              >
                <svg
                  class="h-auto"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 1200 1227"
                  fill="none"
                >
                  <path
                    d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"
                    fill="white"
                  ></path>
                </svg>
              </a>
            </li>

            <li class="footer__social-item nav-item">
              <a
                class="footer__social-link"
                target="_blank"
                href="https://www.instagram.com/iconicjob.jp"
              >
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="js/manifest.js"></script>
    <script src="js/vendors.js"></script>
    <script src="js/app.js"></script>
    <script src="js/nav-top-after-scroll.js"></script>
  </body>
</html>
