<!doctype html>
<html lang="vi">
  <head>
    <!-- preconnect -->
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300..600&display=swap"
      rel="stylesheet"
    />

    <!-- preload -->
    <link rel="preload" href="css/app.css" as="style" />
    <link rel="stylesheet" type="text/css" href="css/vendors.css" />
    <link rel="stylesheet" href="css/app.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimal-ui"
    />
    <meta name="theme-color" content="#b5b5b5" />
    <meta name="csrf-token" content="" />

    <title>
      Liên hệ | MIRAI VIETNAM HR CONSULTANT Group | Tư vấn tổ chức và tuyển dụng
      nhân sự cao cấp
    </title>

    <link rel="canonical" href="contact.html" />
    <link
      href="https://mirai-viet-nam.vercel.app/contact?employer-contact=1"
      hreflang="x-default"
      rel="alternate"
    />
    <link
      href="https://mirai-viet-nam.vercel.app/contact?employer-contact=1"
      hreflang="ja"
      rel="alternate"
    />
    <link
      href="https://mirai-viet-nam.vercel.app/en/contact?employer-contact=1"
      hreflang="en"
      rel="alternate"
    />
    <link href="contact-employer.html" hreflang="vi" rel="alternate" />

    <meta
      name="description"
      content="MIRAI VIETNAM HR CONSULTANT Group chuyên cung cấp dịch vụ Tư vấn tổ chức nhân sự và Tuyển dụng nhân sự nhằm hỗ trợ Doanh nghiệp xây dựng hệ thống quản lý nhân viên chuyên nghiệp và kết nối nhân tài toàn cầu. Ngoài ra, MIRAI VIETNAM HR CONSULTANT có hơn 15 năm kinh nghiệm hỗ trợ ứng viên tìm kiếm công việc phù hợp."
    />

    <meta
      property="og:title"
      content="Liên hệ | MIRAI VIETNAM HR CONSULTANT Group | Tư vấn tổ chức và tuyển dụng nhân sự cao cấp"
    />
    <meta
      property="og:description"
      content="MIRAI VIETNAM HR CONSULTANT Group chuyên cung cấp dịch vụ Tư vấn tổ chức nhân sự và Tuyển dụng nhân sự nhằm hỗ trợ Doanh nghiệp xây dựng hệ thống quản lý nhân viên chuyên nghiệp và kết nối nhân tài toàn cầu. Ngoài ra, MIRAI VIETNAM HR CONSULTANT có hơn 15 năm kinh nghiệm hỗ trợ ứng viên tìm kiếm công việc phù hợp."
    />
    <meta property="og:url" content="https://iconic-intl.com/vi/contact" />
    <meta
      property="og:image"
      content="https://iconic-intl.com/assets/images/ogp/iconic-intl-ogp.jpg"
    />
    <meta
      property="og:site_name"
      content="MIRAI VIETNAM HR CONSULTANT Group コーポレートサイト"
    />
    <meta property="og:type" content="article" />
    <!--/facebook-->

    <!-- Twitter -->
    <meta
      name="twitter:title"
      content="Liên hệ | MIRAI VIETNAM HR CONSULTANT Group | Tư vấn tổ chức và tuyển dụng nhân sự cao cấp"
    />
    <meta
      name="twitter:description"
      content="MIRAI VIETNAM HR CONSULTANT Group chuyên cung cấp dịch vụ Tư vấn tổ chức nhân sự và Tuyển dụng nhân sự nhằm hỗ trợ Doanh nghiệp xây dựng hệ thống quản lý nhân viên chuyên nghiệp và kết nối nhân tài toàn cầu. Ngoài ra, MIRAI VIETNAM HR CONSULTANT có hơn 15 năm kinh nghiệm hỗ trợ ứng viên tìm kiếm công việc phù hợp."
    />
    <meta name="twitter:url" content="https://iconic-intl.com/vi/contact" />
    <meta
      name="twitter:image"
      content="https://iconic-intl.com/assets/images/ogp/iconic-intl-ogp.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@iconic_intl" />
    <meta property="fb:app_id" content="261368531960741" />
    <!-- IE -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/common/icon/favicon-v1.ico"
    />
    <!-- other browsers -->
    <link
      rel="icon"
      type="image/x-icon"
      href="assets/images/common/icon/favicon.ico"
    />
  </head>
  <body class="page-contact modify-page d-flex flex-column vh-100 font-en">
    <nav class="nav-top navbar navbar-expand-lg fixed-top" id="js-nav-top">
      <div class="container">
        <a class="nav-logo" href="index.html">
          <img
            class="w-100"
            src="assets/images/logo.png"
            alt="Mirai Viet Nam"
          />
        </a>
        <div id="js-navbar-custom-toggler" class="navbar-custom-toggler">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
        </div>
        <div
          class="offcanvas-collapse navbar-collapse ms-lg-auto vh-100 u-vh-lg-auto pt-5 mt-n5 pt-lg-0 mt-lg-0"
          id="js-offcanvas-collapse"
        >
          <ul
            class="navbar-nav d-flex align-items-center ms-lg-auto mt-5 pt-5 mt-lg-0 pt-lg-0"
          >
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html"
                >Trang chủ</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="company.html">Công ty</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="service.html">Dịch vụ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="career.html">Nghề nghiệp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news.html">Bản tin</a>
            </li>

            <li class="nav-item dropdown d-none d-lg-flex">
              <button
                class="btn nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  class="icon-white"
                  alt="icon white"
                  src="assets/images/common/navigation/language-white.png"
                />
                <img
                  class="icon-black"
                  alt="icon black"
                  src="assets/images/common/navigation/language-black.png"
                />
                <span class="d-none">JA</span>
                <span class="d-none">EN</span>
                <span class="">VI</span>
              </button>

              <ul class="dropdown-menu text-capitalize">
                <li>
                  <a
                    class="dropdown-item"
                    href="https://iconic-intl.com/contact?employer-contact=1"
                    >日本語</a
                  >
                </li>
                <li style="display: none">
                  <a
                    class="dropdown-item"
                    href="https://iconic-intl.com/en/contact?employer-contact=1"
                    >English</a
                  >
                </li>
                <li>
                  <a class="dropdown-item active" href="contact-employer.html"
                    >Tiếng Việt</a
                  >
                </li>
              </ul>
            </li>
            <li class="d-flex d-lg-none">
              <ul class="list-unstyled d-flex justify-content-center w-100">
                <li class="mx-3">
                  <a
                    class="nav-link"
                    href="https://iconic-intl.com/contact?employer-contact=1"
                    >JA</a
                  >
                </li>
                <li class="d-flex align-items-center" style="display: none">
                  <div
                    class="bg-black opacity-100"
                    style="width: 2px; height: 17px"
                  ></div>
                </li>
                <li class="mx-3" style="display: none">
                  <a
                    class="nav-link"
                    href="https://iconic-intl.com/en/contact?employer-contact=1"
                    >EN</a
                  >
                </li>
                <li class="d-flex align-items-center">
                  <div
                    class="bg-black opacity-100"
                    style="width: 2px; height: 17px"
                  ></div>
                </li>
                <li class="mx-3">
                  <a class="nav-link active" href="contact-employer.html">VI</a>
                </li>
              </ul>
            </li>

            <li class="nav-item nav-top-contact">
              <a class="btn-default btn-contact-nav" href="contact.html"
                >Liên hệ</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main>
      <div class="u-margin-page">
        <div class="container">
          <nav class="u-padding-breadcrumb" aria-label="breadcrumb mb-0">
            <ol class="breadcrumb container">
              <li class="breadcrumb-item">
                <a class="breadcrumb__link" href="index.html">Trang chủ</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">Liên hệ</li>
            </ol>
          </nav>

          <div class="text-center">
            <h1 class="heading-2 u-margin-heading-2 d-inline-block mx-auto">
              Liên hệ
              <span class="underline"></span>
            </h1>
          </div>

          <div class="row justify-content-center">
            <div class="col-12">
              <div class="tab-contact btn-group d-flex mt-4">
                <a class="btn" href="contact.html">Ứng viên</a>
                <a class="btn active" href="contact-employer.html"
                  >Nhà tuyển dụng</a
                >
              </div>
            </div>
          </div>

          <form
            class="page-contact__form contact-form js-contact-form"
            action="#"
            method="post"
            enctype="multipart/form-data"
            data-parsley-validate
          >
            <input type="hidden" name="_method" value="POST" />
            <input type="hidden" name="_token" value="" autocomplete="off" />
            <div
              id="my_name_xqDgYm6vJNcSqXHP_wrap"
              style="display: none"
              aria-hidden="true"
            >
              <input
                id="my_name_xqDgYm6vJNcSqXHP"
                name="my_name_xqDgYm6vJNcSqXHP"
                type="text"
                value=""
                autocomplete="nope"
                tabindex="-1"
              />
              <input
                name="valid_from"
                type="text"
                value=""
                autocomplete="off"
                tabindex="-1"
              />
            </div>
            <div class="tab-input js-tab-contact active">
              <div class="page-contact__required-message u-text-red">
                Phần * bắt buộc nhập.
              </div>
              <div class="form-custom row">
                <label for="company_name" class="col-lg-2 col-form-label"
                  >Tên công ty&nbsp;<span class="u-text-red">*</span></label
                >
                <div class="col-lg-10">
                  <input
                    name="company_name"
                    class="form-control page-contact__input"
                    id="company_name"
                    value=""
                    data-parsley-trigger="change"
                    data-parsley-required="true"
                    data-parsley-required-message="Vui lòng nhập tên công ty."
                    placeholder="MIRAI VIETNAM HR CONSULTANT CO.,Ltd."
                  />
                </div>
              </div>
              <input type="hidden" name="employer-contact" value="1" />
              <div class="form-custom row">
                <label for="name" class="col-lg-2 col-form-label"
                  >Họ &amp; tên&nbsp;<span class="u-text-red">*</span></label
                >
                <div class="col-lg-10">
                  <input
                    name="name"
                    class="form-control page-contact__input"
                    id="name"
                    value=""
                    data-parsley-trigger="change"
                    data-parsley-required="true"
                    data-parsley-required-message="Vui lòng nhập tên của bạn."
                    data-parsley-maxlength="50"
                    data-parsley-maxlength-message="Vui lòng nhập tên của bạn trong giới hạn 50 ký tự."
                    placeholder="Họ &amp; tên"
                  />
                </div>
              </div>
              <div class="form-custom row">
                <label for="tel" class="col-lg-2 col-form-label"
                  >Điện thoại</label
                >
                <div class="col-lg-10">
                  <input
                    name="tel"
                    class="form-control page-contact__input"
                    id="tel"
                    value=""
                    data-parsley-trigger="change"
                    data-parsley-pattern="^\+[0-9-]{9,19}$"
                    data-parsley-pattern-message="Số điện thoại không hợp lệ."
                    placeholder="Điện thoại: +00-0000-0000"
                  />
                  <p class="recommend-tel u-text-red">
                    *Vui lòng nhập số điện thoại bao gồm mã quốc gia bắt đầu
                    bằng dấu +
                  </p>
                </div>
              </div>
              <div class="form-custom row">
                <label for="mail" class="col-lg-2 col-form-label"
                  >Email&nbsp;<span class="u-text-red">*</span></label
                >
                <div class="col-lg-10">
                  <input
                    name="mail"
                    class="form-control page-contact__input"
                    id="mail"
                    value=""
                    data-parsley-trigger="change"
                    data-parsley-type="email"
                    data-parsley-type-message="Định dạng email không hợp lệ."
                    data-parsley-required="true"
                    data-parsley-required-message="Vui lòng nhập địa chỉ email của bạn."
                    data-parsley-maxlength="50"
                    data-parsley-maxlength-message="Vui lòng nhập email của bạn trong giới hạn 50 ký tự."
                    placeholder="Mail: sample@iconic.com"
                  />
                </div>
              </div>

              <div class="form-custom row">
                <label
                  for="requested_country"
                  class="col-lg-2 col-form-label pt-lg-0"
                  >Quốc gia/khu vực yêu cầu&nbsp;<span class="u-text-red"
                    >*</span
                  ></label
                >
                <div class="col-lg-10">
                  <select
                    name="requested_country"
                    id="requested_country"
                    class="form-select js-contact-select2"
                    data-parsley-errors-container="#country-errors"
                    data-parsley-required="true"
                    data-parsley-required-message="Vui lòng chọn quốc gia bạn yêu cầu."
                    data-placeholder="--- Vui lòng chọn ---"
                    data-theme="contact-select2"
                    data-minimum-results-for-search="Infinity"
                  >
                    <option></option>
                    <option value="Việt Nam - Miền Nam">
                      Việt Nam - Miền Nam
                    </option>
                    <option value="Việt Nam - Miền Bắc">
                      Việt Nam - Miền Bắc
                    </option>
                    <option value="Việt Nam - Miền Trung">
                      Việt Nam - Miền Trung
                    </option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Nhật Bản">Nhật Bản</option>
                  </select>

                  <div id="country-errors"></div>
                </div>
              </div>

              <div class="form-custom row">
                <label for="inquiry_type" class="col-lg-2 col-form-label"
                  >Nội dung liên hệ&nbsp;<span class="u-text-red"
                    >*</span
                  ></label
                >
                <div class="col-lg-10">
                  <select
                    name="inquiry_type"
                    id="inquiry_type"
                    class="form-select js-contact-select2"
                    data-parsley-errors-container="#inquiry-type-errors"
                    data-parsley-required="true"
                    data-parsley-required-message="Vui lòng chọn nội dung bạn muốn liên hệ."
                    data-placeholder="--- Vui lòng chọn ---"
                    data-theme="contact-select2"
                    data-minimum-results-for-search="Infinity"
                  >
                    <option></option>
                    <option value="Tuyển dụng nhân sự địa phương">
                      Tuyển dụng nhân sự địa phương
                    </option>
                    <option value="Tuyển dụng nhân sự Nhật Bản">
                      Tuyển dụng nhân sự Nhật Bản
                    </option>
                    <option value="Dịch vụ tư vấn quản lý nhân sự">
                      Dịch vụ tư vấn quản lý nhân sự
                    </option>
                    <option value="Báo cáo khảo sát">Báo cáo khảo sát</option>
                    <option value="Báo chí">Báo chí</option>
                    <option value="Yêu cầu khác">Yêu cầu khác</option>
                  </select>

                  <div id="inquiry-type-errors"></div>
                </div>
              </div>

              <div class="form-custom row">
                <label for="message" class="col-lg-2 col-form-label">
                  Nội dung chi tiết&nbsp;<span class="u-text-red"
                    >*</span
                  ></label
                >
                <div class="col-lg-10">
                  <textarea
                    name="message"
                    class="form-control page-contact__textarea"
                    data-parsley-trigger="change"
                    data-parsley-required="true"
                    data-parsley-required-message="Vui lòng nhập nội dung chi tiết."
                    data-parsley-maxlength="1000"
                    data-parsley-maxlength-message="Vui lòng nhập nội dung chi tiết trong giới hạn 1000 ký tự"
                    rows="14"
                    id="message"
                  ></textarea>
                </div>
              </div>

              <div class="col-12 text-center mb-5 fw-medium">
                Tôi đồng ý với Quy chế hoạt động và
                <a
                  href="https://iconic-intl.com/vi/privacy-policy"
                  class="text-link"
                  >Chính sách bảo mật</a
                >
                của MIRAI VIETNAM HR CONSULTANT
              </div>

              <div class="form-confirm d-flex justify-content-center">
                <input
                  type="button"
                  class="btn-default btn-1 js-contact-confirm"
                  value="Đồng ý và tiếp tục"
                />
              </div>
            </div>
            <div class="tab-preview row js-tab-contact justify-content-center">
              <div class="col-sm-8">
                <p class="message-detail">
                  Vui lòng kiểm tra thông tin mà bạn đã nhập và nhấn nút
                  &quot;GỬI&quot;.
                </p>
                <div class="group-info">
                  <div class="label">
                    Tên công ty&nbsp;<span class="u-text-red">*</span>
                  </div>
                  <div class="value company_name_text"></div>
                </div>
                <div class="group-info">
                  <div class="label">
                    Họ &amp; tên&nbsp;<span class="u-text-red">*</span>
                  </div>
                  <div class="value name_text"></div>
                </div>
                <div class="group-info">
                  <div class="label">Điện thoại</div>
                  <div class="value tel_text"></div>
                </div>
                <div class="group-info">
                  <div class="label">
                    Email&nbsp;<span class="u-text-red">*</span>
                  </div>
                  <div class="value mail_text"></div>
                </div>
                <div class="group-info">
                  <div class="label">
                    Quốc gia/khu vực yêu cầu&nbsp;<span class="u-text-red"
                      >*</span
                    >
                  </div>
                  <div class="value requested_country_text"></div>
                </div>
                <div class="group-info">
                  <div class="label">
                    Nội dung liên hệ&nbsp;<span class="u-text-red">*</span>
                  </div>
                  <div class="value inquiry_type_text"></div>
                </div>
                <div class="group-info">
                  <div class="label">
                    Nội dung chi tiết&nbsp;<span class="u-text-red">*</span>
                  </div>
                  <div class="value message_text"></div>
                </div>
                <div
                  class="form-confirm d-flex flex-column flex-lg-row align-items-center justify-content-center preview-style"
                >
                  <div class="mb-2 mb-lg-0">
                    <input
                      type="button"
                      class="btn-default btn-1 btn-box-shadow btn--back js-contact-back"
                      value="TRỞ VỀ"
                    />
                  </div>

                  <div>
                    <input
                      type="button"
                      class="btn-default btn-1 js-contact-submit"
                      value="GỬI"
                    />
                  </div>

                  <div id="captcha_contact_form" class="d-none"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer class="footer mt-auto">
      <div class="container footer__container">
        <div class="row footer__navbar-nav text-white py-5">
          <div class="col-lg-2">
            <div class="footer__box">
              <img
                src=""
                class="logo-2 w-100 lazyload"
                data-src="assets/images/logo.png"
                alt="Mirai Viet Nam"
              />
            </div>
          </div>
          <div class="col-lg-2">
            <ul class="list-unstyled mb-0">
              <li><a class="text-white" href="index.html">Trang chủ</a></li>
              <li><a class="text-white" href="company.html">Công ty</a></li>
              <li><a class="text-white" href="service.html">Dịch vụ</a></li>
              <li><a class="text-white" href="news.html">Bản tin</a></li>
              <li><a class="text-white" href="career.html">Nghề nghiệp</a></li>
              <li><a class="text-white" href="contact.html">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0 footer__border">
            <div class="footer__title">Nền tảng tuyển dụng</div>

            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Dành cho ứng viên Nhật Bản「Mirai VietNam」</a
            >
            <br />
            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Dành cho ứng viên Việt Nam「Mirai VietNam」</a
            >
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0 pe-lg-0">
            <div class="footer__title">
              Trang thông tin nhân sự Việt Nam「Mirai VietNam」
            </div>
            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Mirai VietNam</a
            >
            <div class="mt-4 mt-lg-3 footer__title">
              Công cụ khảo sát nhân viên「Mirai VietNam」
            </div>
            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Mirai VietNam</a
            >
          </div>
        </div>

        <div
          class="row footer__copy-social g-0 flex-column-reverse flex-lg-row"
        >
          <p
            class="col-12 col-lg-8 footer__copy-right text-white align-self-center text-center text-lg-start mb-0"
          >
            Copyright &#169; 2026 MIRAI VIETNAM HR CONSULTANT Co., Ltd. - All
            Rights Reserved.
            <a
              class="text-white ms-5"
              href="https://iconic-intl.com/vi/privacy-policy"
              >Chính sách bảo mật</a
            >
          </p>
          <ul
            class="col-12 col-lg-4 navbar-nav flex-row justify-content-center justify-content-lg-end align-items-center ms-auto"
          >
            <li class="footer__social-item nav-item">
              <a
                class="footer__social-link"
                target="_blank"
                href="https://www.facebook.com/iconic.jp"
              >
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>

            <li class="footer__social-item nav-item mb-1">
              <a
                class="footer__social-link"
                target="_blank"
                href="https://x.com/iconicjob_jp"
              >
                <svg
                  class="h-auto"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 1200 1227"
                  fill="none"
                >
                  <path
                    d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"
                    fill="white"
                  ></path>
                </svg>
              </a>
            </li>

            <li class="footer__social-item nav-item">
              <a
                class="footer__social-link"
                target="_blank"
                href="https://www.instagram.com/iconicjob.jp"
              >
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="js/manifest.js"></script>
    <script src="js/vendors.js"></script>
    <script src="js/app.js"></script>
    <script src="js/contact.js"></script>
    <script>
      $(document).ready(function () {
        $(".js-contact-submit").on("click", function () {
          if ($(".js-contact-form").parsley().validate() !== false) {
            var $notice = $("#js-demo-notice");
            if ($notice.length === 0) {
              $notice = $(
                '<div id="js-demo-notice" style="max-width:500px;margin:0 auto 24px;padding:14px 20px;border-radius:8px;background:#fff3cd;color:#664d03;border:1px solid #ffe69c;text-align:center;font-weight:500;">Đây là bản demo tĩnh (clone) - biểu mẫu không được kết nối với máy chủ thật.</div>',
              );
              $(".js-tab-contact.active .form-confirm").before($notice);
            }
            $notice
              .get(0)
              .scrollIntoView({ behavior: "smooth", block: "center" });
          }
        });
      });
    </script>
  </body>
</html>
