<!doctype html>
<html lang="vi">
  <head>
    <!-- preconnect -->
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300..600&display=swap"
      rel="stylesheet"
    />

    <!-- preload -->
    <link rel="preload" href="css/app.css" as="style" />
    <link rel="stylesheet" type="text/css" href="css/vendors.css" />
    <link rel="stylesheet" href="css/app.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimal-ui"
    />
    <meta name="theme-color" content="#b5b5b5" />
    <meta name="csrf-token" content="" />

    <title>
      MIRAI VIETNAM HR CONSULTANT Group - Tư vấn tổ chức nhân sự và Tuyển dụng
      nhân sự chuyên nghiệp
    </title>

    <link rel="canonical" href="index.html" />
    <link href="https://iconic-intl.com" hreflang="x-default" rel="alternate" />
    <link href="https://iconic-intl.com" hreflang="ja" rel="alternate" />
    <link
      href="https://mirai-viet-nam.vercel.app/en"
      hreflang="en"
      rel="alternate"
    />
    <link href="index.html" hreflang="vi" rel="alternate" />

    <meta
      name="description"
      content="MIRAI VIETNAM HR CONSULTANT Group chuyên cung cấp dịch vụ Tư vấn tổ chức nhân sự và Tuyển dụng nhân sự nhằm hỗ trợ Doanh nghiệp xây dựng hệ thống quản lý nhân viên chuyên nghiệp và kết nối nhân tài toàn cầu. Ngoài ra, MIRAI VIETNAM HR CONSULTANT có hơn 15 năm kinh nghiệm hỗ trợ ứng viên tìm kiếm công việc phù hợp."
    />

    <meta
      property="og:title"
      content="MIRAI VIETNAM HR CONSULTANT Group - Tư vấn tổ chức nhân sự và Tuyển dụng nhân sự chuyên nghiệp"
    />
    <meta
      property="og:description"
      content="MIRAI VIETNAM HR CONSULTANT Group chuyên cung cấp dịch vụ Tư vấn tổ chức nhân sự và Tuyển dụng nhân sự nhằm hỗ trợ Doanh nghiệp xây dựng hệ thống quản lý nhân viên chuyên nghiệp và kết nối nhân tài toàn cầu. Ngoài ra, MIRAI VIETNAM HR CONSULTANT có hơn 15 năm kinh nghiệm hỗ trợ ứng viên tìm kiếm công việc phù hợp."
    />
    <meta property="og:url" content="https://iconic-intl.com/vi" />
    <meta
      property="og:image"
      content="https://iconic-intl.com/assets/images/ogp/iconic-intl-ogp.jpg"
    />
    <meta
      property="og:site_name"
      content="MIRAI VIETNAM HR CONSULTANT Group コーポレートサイト"
    />
    <meta property="og:type" content="website" />
    <!--/facebook-->

    <!-- Twitter -->
    <meta
      name="twitter:title"
      content="MIRAI VIETNAM HR CONSULTANT Group - Tư vấn tổ chức nhân sự và Tuyển dụng nhân sự chuyên nghiệp"
    />
    <meta
      name="twitter:description"
      content="MIRAI VIETNAM HR CONSULTANT Group chuyên cung cấp dịch vụ Tư vấn tổ chức nhân sự và Tuyển dụng nhân sự nhằm hỗ trợ Doanh nghiệp xây dựng hệ thống quản lý nhân viên chuyên nghiệp và kết nối nhân tài toàn cầu. Ngoài ra, MIRAI VIETNAM HR CONSULTANT có hơn 15 năm kinh nghiệm hỗ trợ ứng viên tìm kiếm công việc phù hợp."
    />
    <meta name="twitter:url" content="https://iconic-intl.com/vi" />
    <meta
      name="twitter:image"
      content="https://iconic-intl.com/assets/images/ogp/iconic-intl-ogp.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@iconic_intl" />
    <meta property="fb:app_id" content="261368531960741" />
    <!-- IE -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/common/icon/favicon-v1.ico"
    />
    <!-- other browsers -->
    <link
      rel="icon"
      type="image/x-icon"
      href="assets/images/common/icon/favicon.ico"
    />
    <link
      rel="preload"
      href="assets/images/common/header/bg-header.jpg"
      as="image"
    />
  </head>
  <body class="page-home d-flex flex-column vh-100 font-en">
    <nav class="nav-top navbar navbar-expand-lg fixed-top" id="js-nav-top">
      <div class="container">
        <a class="nav-logo" href="index.html">
          <img
            class="w-100"
            src="assets/images/logo.png"
            alt="Mirai Viet Nam"
          />
        </a>
        <div id="js-navbar-custom-toggler" class="navbar-custom-toggler">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
        </div>
        <div
          class="offcanvas-collapse navbar-collapse ms-lg-auto vh-100 u-vh-lg-auto pt-5 mt-n5 pt-lg-0 mt-lg-0"
          id="js-offcanvas-collapse"
        >
          <ul
            class="navbar-nav d-flex align-items-center ms-lg-auto mt-5 pt-5 mt-lg-0 pt-lg-0"
          >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html"
                >Trang chủ</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="company.html">Công ty</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="service.html">Dịch vụ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="career.html">Nghề nghiệp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news.html">Bản tin</a>
            </li>

            <li class="nav-item dropdown d-none d-lg-flex">
              <button
                class="btn nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  class="icon-white"
                  alt="icon white"
                  src="assets/images/common/navigation/language-white.png"
                />
                <img
                  class="icon-black"
                  alt="icon black"
                  src="assets/images/common/navigation/language-black.png"
                />
                <span class="d-none">JA</span>
                <span class="d-none">EN</span>
                <span class="">VI</span>
              </button>

              <ul class="dropdown-menu text-capitalize">
                <li>
                  <a class="dropdown-item" href="https://iconic-intl.com"
                    >日本語</a
                  >
                </li>
                <li style="display: none">
                  <a class="dropdown-item" href="https://iconic-intl.com/en"
                    >English</a
                  >
                </li>
                <li>
                  <a class="dropdown-item active" href="index.html"
                    >Tiếng Việt</a
                  >
                </li>
              </ul>
            </li>
            <li class="d-flex d-lg-none">
              <ul class="list-unstyled d-flex justify-content-center w-100">
                <li class="mx-3">
                  <a class="nav-link" href="https://iconic-intl.com">JA</a>
                </li>
                <li class="d-flex align-items-center" style="display: none">
                  <div
                    class="bg-black opacity-100"
                    style="width: 2px; height: 17px"
                  ></div>
                </li>
                <li class="mx-3" style="display: none">
                  <a class="nav-link" href="https://iconic-intl.com/en">EN</a>
                </li>
                <li class="d-flex align-items-center">
                  <div
                    class="bg-black opacity-100"
                    style="width: 2px; height: 17px"
                  ></div>
                </li>
                <li class="mx-3">
                  <a class="nav-link active" href="index.html">VI</a>
                </li>
              </ul>
            </li>

            <li class="nav-item nav-top-contact">
              <a class="btn-default btn-contact-nav" href="contact.html"
                >Liên hệ</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main>
      <header class="header">
        <div class="container position-relative h-100">
          <div class="header-text">
            <h1 class="header-title">Create Beyond</h1>
          </div>
          <div class="scroll-home text-center" id="js-scroll-to-service-home">
            <div>Scroll</div>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </div>
        </div>
      </header>
      <section class="service" id="js-service-home">
        <div class="container">
          <div class="text-center">
            <h2 class="service__heading d-inline-block mx-auto">
              Dịch vụ
              <span class="underline-1"></span>
            </h2>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4 pb-3">
              <div class="service-box service-box--1 u-padding-service-box-jp">
                <div class="service-box__text w-100">
                  <h3 class="service-box__heading mb-1">Tuyển dụng nhân sự</h3>
                  <p
                    class="service-box__category pb-1 pb-lg-2 invisible u-mt-n4"
                  >
                    人材紹介
                  </p>
                  <p class="service-box__description--jp">
                    <span class="d-block mb-3"
                      >MIRAI VIETNAM HR CONSULTANT cung cấp dịch vụ Tuyển dụng
                      nhân sự tại 4 chi nhánh thuộc 3 quốc gia dựa trên nguồn dữ
                      liệu phong phú.</span
                    >
                    Mỗi chi nhánh đều có các tư vấn viên tuyển dụng chuyên
                    nghiệp, am hiểu sâu về đa dạng ngành nghề và thị trường địa
                    phương.
                  </p>

                  <div
                    class="service-box__button--jp d-flex justify-content-center"
                  >
                    <a
                      class="service-box__button-arrow"
                      href="service.html#page-service-recruiting"
                      >&rarr;</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--service-box-->
            <div class="col-12 col-lg-4 pb-3">
              <div class="service-box service-box--2 u-padding-service-box-jp">
                <div class="service-box__text w-100">
                  <h3 class="service-box__heading mb-1">Tư vấn nhân sự</h3>
                  <p
                    class="service-box__category pb-1 pb-lg-2 invisible u-mt-n4"
                  >
                    組織人事コンサルティング
                  </p>
                  <p class="service-box__description--jp">
                    <span class="d-block mb-3"
                      >MIRAI VIETNAM HR CONSULTANT cung cấp dịch vụ Tư vấn nhân
                      sự: thiết kế Hệ thống quản lý nhân sự (Hệ thống đánh giá,
                      Hệ thống lương - thưởng...), Hệ thống phát triển nhân tài,
                      quản lý lao động.</span
                    >
                    Chúng tôi cung cấp những giải pháp phù hợp dựa trên những
                    vấn đề và đặc điểm của từng khách hàng.
                  </p>
                  <div
                    class="service-box__button--jp d-flex justify-content-center"
                  >
                    <a
                      class="service-box__button-arrow"
                      href="service.html#page-service-consulting"
                      >&rarr;</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--service-box-->
            <div class="col-12 col-lg-4 pb-3">
              <div class="service-box service-box--3 u-padding-service-box-jp">
                <div class="service-box__text w-100">
                  <h3 class="service-box__heading mb-1">Hỗ trợ ứng viên</h3>
                  <p
                    class="service-box__category pb-1 pb-lg-2 invisible u-mt-n4"
                  >
                    転職支援
                  </p>
                  <p class="service-box__description--jp">
                    <span class="d-block mb-3"
                      >MIRAI VIETNAM HR CONSULTANT hỗ trợ Ứng viên toàn cầu
                      thông qua hệ thống các website [iconicjob].</span
                    >
                    <span
                      >Chúng tôi có các chuyên gia tư vấn chuyên nghiệp tại các
                      chi nhánh khác nhau hỗ trợ ứng viên tìm kiếm công việc phù
                      hợp.</span
                    >
                  </p>
                  <div
                    class="service-box__button--jp d-flex justify-content-center"
                  >
                    <a
                      class="service-box__button-arrow"
                      href="service.html#page-service-recruiting"
                      >&rarr;</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--service-box-->
          </div>
        </div>
      </section>
      <div class="container fw-medium pt-2">
        <h2
          class="text-center position-relative mb-5 text-uppercase fw-semibold"
        >
          Thành tựu đạt được tại Việt Nam
          <span class="underline-1"></span>
        </h2>
        <div class="row g-4" style="color: rgba(var(--bs-dark-rgb), 0.7)">
          <div class="col-12 col-md-4">
            <div
              class="bg-white text-center py-3 h-100 border border-light-subtle shadow-sm"
            >
              <div class="fw-bold" style="color: rgb(var(--custom-blue-3-rgb))">
                <div class="d-inline" style="font-size: 60px">416</div>
                <div class="d-inline fs-6"></div>
              </div>
              <div class="px-5 pb-2">
                Ứng viên Việt Nam có việc làm năm 2025
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div
              class="bg-white text-center py-3 h-100 border border-light-subtle shadow-sm"
            >
              <div class="fw-bold" style="color: rgb(var(--custom-blue-3-rgb))">
                <div class="d-inline" style="font-size: 60px">46</div>
                <div class="d-inline fs-6"></div>
              </div>
              <div class="px-5 pb-2">
                Ứng viên Nhật Bản có việc làm năm 2025
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div
              class="bg-white text-center py-3 h-100 border border-light-subtle shadow-sm"
            >
              <div class="fw-bold" style="color: rgb(var(--custom-blue-3-rgb))">
                <div class="d-inline" style="font-size: 60px">392</div>
                <div class="d-inline fs-6">công ty</div>
              </div>
              <div class="px-5 pb-2">Tham gia khảo sát lương 2025</div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div
              class="bg-white text-center py-3 h-100 border border-light-subtle shadow-sm"
            >
              <div class="fw-bold" style="color: rgb(var(--custom-blue-3-rgb))">
                <div class="d-inline" style="font-size: 60px">170+</div>
                <div class="d-inline fs-6">dự án</div>
              </div>

              <div class="px-5 pb-2">Thiết kế hệ thống nhân sự</div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div
              class="bg-white text-center py-3 h-100 border border-light-subtle shadow-sm"
            >
              <div class="fw-bold" style="color: rgb(var(--custom-blue-3-rgb))">
                <div class="d-inline" style="font-size: 60px">80+</div>
                <div class="d-inline fs-6">dự án</div>
              </div>
              <div class="px-5 pb-2">Phát triển tổ chức - nhân lực</div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div
              class="bg-white text-center py-3 h-100 border border-light-subtle shadow-sm"
            >
              <div class="fw-bold" style="color: rgb(var(--custom-blue-3-rgb))">
                <div class="d-inline" style="font-size: 60px">120+</div>
                <div class="d-inline fs-6">dự án</div>
              </div>
              <div class="px-5 pb-2">Quản lý lao động</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-5">
        <h2
          class="text-center pt-3 pt-lg-5 position-relative text-uppercase fw-semibold"
        >
          Đối tác tin cậy
          <span class="underline-1"></span>
        </h2>

        <div class="js-slick-company-logos-slider-major mb-0 pt-3 pt-lg-4">
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/nomura-real-estate-vietnam.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/kohnan.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/hung-vuong-toyota.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/sapporo.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/takashimaya.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/fujifilm.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/kewpie.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/obayashi.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/kao.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/family-mart.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/taisei-vinata.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/kinden.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/major/daiwa-house.png"
          />
        </div>

        <div class="js-slick-company-logos-slider-occasional mb-0">
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/sakai.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/yagi.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/figla.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/cube-system.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/nitto.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/paramount-bed.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/nikkei-panel-system.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/fuji-cac.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/jaf.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/saigonstec.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/alsok.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/kanefusa.png"
          />
          <img
            class="img-fluid lazyload"
            src="assets/images/company-logos/1x3.png"
            data-src="assets/images/company-logos/occasional/vina-kyoei-steel.png"
          />
        </div>
      </div>

      <section class="strength">
        <div class="container">
          <div class="strength__container text-center">
            <h2 class="heading-1 u-margin-heading-1 d-inline-block mx-auto">
              <span class="text-uppercase"
                >Thế mạnh của MIRAI VIETNAM HR CONSULTANT</span
              >
              <span class="underline-1"></span>
            </h2>
            <div class="row justify-content-center">
              <div
                class="col-12 col-lg-4 strength-item justify-content-center mt-0"
              >
                <div class="strength-item__wrap-images">
                  <img
                    src=""
                    class="h-100 lazyload"
                    alt="strength item 1"
                    data-src="assets/images/home/data-strength.png"
                  />
                </div>
                <div class="strength-item__text">
                  <h3 class="strength-item__heading mb-2">Dữ liệu đa dạng</h3>
                  <p class="strength-item__description mb-0">
                    Dựa trên cơ sở dữ liệu chuyên ngành phong phú, MIRAI VIETNAM
                    HR CONSULTANT giới thiệu nguồn nhân lực đa dạng, bao gồm
                    nhân sự địa phương và nhân sự Nhật Bản đang hoạt động tại
                    Nhật Bản &amp; nước ngoài.
                  </p>
                </div>
              </div>
              <!--strength-item-->
              <div class="strength-item col-12 col-lg-4 justify-content-center">
                <div class="strength-item__wrap-images">
                  <img
                    src=""
                    class="h-100 lazyload"
                    alt="strength item 1"
                    data-src="assets/images/home/recommendation-strength.png"
                  />
                </div>
                <div class="strength-item__text">
                  <h3 class="strength-item__heading mb-2">
                    Tư vấn chuyên nghiệp
                  </h3>
                  <p class="strength-item__description mb-0">
                    MIRAI VIETNAM HR CONSULTANT cung cấp các giải pháp tối ưu từ
                    góc nhìn chuyên gia liên quan đến vấn đề nhân sự từ khâu
                    tuyển dụng đến xây dựng cơ cấu tổ chức.
                  </p>
                </div>
              </div>
              <!--strength-item-->
              <div class="strength-item col-12 col-lg-4 justify-content-center">
                <div class="strength-item__wrap-images">
                  <img
                    src=""
                    class="h-100 lazyload"
                    alt="strength item 1"
                    data-src="assets/images/home/support-strength.png"
                  />
                </div>
                <div class="strength-item__text">
                  <h3 class="strength-item__heading mb-2">Hỗ trợ toàn diện</h3>
                  <p class="strength-item__description mb-0">
                    Các tư vấn viên của MIRAI VIETNAM HR CONSULTANT hỗ trợ Quý
                    công ty kết nối với ứng viên tiềm năng và đồng thời hỗ trợ
                    ứng viên tìm kiếm vị trí công việc phù hợp.
                  </p>
                </div>
              </div>
              <!--strength-item-->
            </div>
          </div>
        </div>
      </section>
      <section class="join">
        <div class="join__text container">
          <h2
            class="join__heading d-inline-block"
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-once="true"
          >
            <i>JOIN US</i>
            <span class="underline-2"></span>
          </h2>
          <div class="join__description text-white">
            <p>
              Nhằm thực hiện sứ mệnh và tầm nhìn, MIRAI VIETNAM HR CONSULTANT
              tìm kiếm những nhân tài đầy nhiệt huyết, sẵn sàng cùng chúng tôi
              chinh phục Châu Á.
            </p>

            <div class="join__button">
              <a class="btn-default btn-1 btn-box-shadow" href="career.html">
                Tìm hiểu thêm
              </a>
            </div>
          </div>
        </div>

        <img
          src=""
          class="join__image lazyload"
          data-src="assets/images/home/join-us.jpg"
          alt="Join us"
        />
      </section>
      <section class="news">
        <div class="container">
          <div class="news__container">
            <div class="text-center">
              <h2 class="news__heading d-inline-block mx-auto">
                Bản tin
                <span class="underline-1"></span>
              </h2>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-lg-4 pb-3">
                <a href="news-263.html">
                  <div class="news-box">
                    <p>2026/06/26</p>
                    <div>
                      Kỳ 7 | Từ chi phí đến đầu tư - Tư duy lại về ngân sách
                      lương thưởng
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-lg-4 pb-3">
                <a href="https://iconic-intl.com/vi/news/262">
                  <div class="news-box">
                    <p>2026/06/18</p>
                    <div>
                      Kỳ 6 | Thiết kế lương thưởng cho lãnh đạo địa phương
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-lg-4 pb-3">
                <a href="https://iconic-intl.com/vi/news/261">
                  <div class="news-box">
                    <p>2026/06/12</p>
                    <div>
                      Kỳ 5 | Lương cơ bản, phụ cấp và thưởng — Phân bổ thế nào
                      để tối ưu?
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="d-flex justify-content-center mt-5 mb-4">
              <a class="btn-default btn-1 btn-box-shadow" href="news.html">
                Tìm hiểu thêm
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="section-contact">
        <div class="container text-center">
          <h2 class="section-contact__heading d-inline-block mx-auto">
            Liên hệ
            <span class="underline-1"></span>
          </h2>
          <p class="section-contact__description">
            Vui lòng liên hệ với MIRAI VIETNAM HR CONSULTANT
          </p>
          <div class="d-flex justify-content-center">
            <a class="btn-default btn-1 btn-box-shadow" href="contact.html">
              Liên hệ
            </a>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer mt-auto">
      <div class="container footer__container">
        <div class="row footer__navbar-nav text-white py-5">
          <div class="col-lg-2">
            <div class="footer__box">
              <img
                src=""
                class="logo-2 w-100 lazyload"
                data-src="assets/images/logo.png"
                alt="Mirai Viet Nam"
              />
            </div>
          </div>
          <div class="col-lg-2">
            <ul class="list-unstyled mb-0">
              <li><a class="text-white" href="index.html">Trang chủ</a></li>
              <li><a class="text-white" href="company.html">Công ty</a></li>
              <li><a class="text-white" href="service.html">Dịch vụ</a></li>
              <li><a class="text-white" href="news.html">Bản tin</a></li>
              <li><a class="text-white" href="career.html">Nghề nghiệp</a></li>
              <li><a class="text-white" href="contact.html">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0 footer__border">
            <div class="footer__title">Nền tảng tuyển dụng</div>

            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Dành cho ứng viên Nhật Bản「Mirai VietNam」</a
            >
            <br />
            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Dành cho ứng viên Việt Nam「Mirai VietNam」</a
            >
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0 pe-lg-0">
            <div class="footer__title">
              Trang thông tin nhân sự Việt Nam「Mirai VietNam」
            </div>
            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Mirai VietNam</a
            >
            <div class="mt-4 mt-lg-3 footer__title">
              Công cụ khảo sát nhân viên「Mirai VietNam」
            </div>
            <a
              class="footer__link"
              target="_blank"
              href="https://miraijinzai.com/"
              >Mirai VietNam</a
            >
          </div>
        </div>

        <div
          class="row footer__copy-social g-0 flex-column-reverse flex-lg-row"
        >
          <p
            class="col-12 col-lg-8 footer__copy-right text-white align-self-center text-center text-lg-start mb-0"
          >
            Copyright &#169; 2026 MIRAI VIETNAM HR CONSULTANT Co., Ltd. - All
            Rights Reserved.
            <a
              class="text-white ms-5"
              href="https://iconic-intl.com/vi/privacy-policy"
              >Chính sách bảo mật</a
            >
          </p>
          <ul
            class="col-12 col-lg-4 navbar-nav flex-row justify-content-center justify-content-lg-end align-items-center ms-auto"
          >
            <li class="footer__social-item nav-item">
              <a
                class="footer__social-link"
                target="_blank"
                href="https://www.facebook.com/iconic.jp"
              >
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>

            <li class="footer__social-item nav-item mb-1">
              <a
                class="footer__social-link"
                target="_blank"
                href="https://x.com/iconicjob_jp"
              >
                <svg
                  class="h-auto"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 1200 1227"
                  fill="none"
                >
                  <path
                    d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"
                    fill="white"
                  ></path>
                </svg>
              </a>
            </li>

            <li class="footer__social-item nav-item">
              <a
                class="footer__social-link"
                target="_blank"
                href="https://www.instagram.com/iconicjob.jp"
              >
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="js/manifest.js"></script>
    <script src="js/vendors.js"></script>
    <script src="js/app.js"></script>
    <script>
      $(function () {
        var slickConfig = {
          speed: 5000,
          autoplay: true,
          autoplaySpeed: 0,
          cssEase: "linear",
          pauseOnHover: false,
          pauseOnFocus: false,
          touchMove: false,
          arrows: false,
          dots: false,
          infinite: true,
          mobileFirst: true,
          slidesToShow: 4,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 6,
              },
            },
            {
              breakpoint: 991,
              settings: {
                slidesToShow: 8,
              },
            },
          ],
        };

        $(".js-slick-company-logos-slider-major").slick(slickConfig);
        $(".js-slick-company-logos-slider-occasional").slick(slickConfig);

        // Force restart autoplay if it stops
        $(
          ".js-slick-company-logos-slider-major, .js-slick-company-logos-slider-occasional",
        ).on("afterChange", function () {
          $(this).slick("slickPlay");
        });

        // Restart autoplay on window focus
        $(window).on("focus", function () {
          $(
            ".js-slick-company-logos-slider-major, .js-slick-company-logos-slider-occasional",
          ).each(function () {
            $(this).slick("slickPlay");
          });
        });
      });
    </script>
    <script src="js/nav-top-after-scroll.js"></script>
  </body>
</html>
